body {
  margin: 10px;
}

#optionField {
  width: 90%;
  margin: 10px;
}

.wrapper {
  background-color: #fff;
  color: #444;
  width: 100%;
}

.month {
  paddig: 0px;
  margin-top: 5px;

  font-weight: 900;
  font-size: 140%;
}

.weekly {
  background-color: #fff;
  color: #111;
  border-radius: 1px;
  padding: 5px;
  font-size: 15px;
  text-align: center;
  width: calc(100% - 10px);
  border: 1px solid #fce6bf;
}

.schedule {
  background-color: #a83b1f;
  color: #fff;

  padding: 5px;
  border-radius: 1px;
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
}

.sidebar {
  grid-area: sidebar;
  font-size: 15px;
  text-align: center;
  background-color: #fbf8ed;
  border-left: 1px solid #fce6bf;
  border-top: 1px solid #fce6bf;
  border-bottom: 1px solid #fce6bf;
  padding: 5px;

  display: grid;
  grid-gap: 0.5em;
  grid-template-rows: repeat(calc(14*7), 50px);
}

.date {
  font-size: 20px;
  font-style: bold;
  font-family: 'Roboto', sans-serif;
  text-align: left;
  color: #333;
  border-bottom: 1px solid #fce6bf;
  padding: 5px;
}

.time {
  padding: 5px;
  font-size: 10px;
  font-family: 'Roboto', sans-serif;
  text-align: left;
  color: #000;
}

.extra{
  display: block;
}

.content {
  background-color: blue;
  color: #444;
  width: 100%;
}

.header {
  grid-area: header;
  color: black;
  background-image: url("../images/pattern.png");
  height: 60px;
  padding: 20px;
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
  font-size: 110%;
}

#s1, #s4 {
  grid-row: 2;
}

#s2, #s3 {
  grid-row: 5/8;
}

#s8, #s11 {
  grid-row: 8/9;
}

#s9, #s10 {
  grid-row: 9/14;
}

.mon {
  grid-area: mon;
  display: grid;
  grid-gap: 0.5em;
  grid-template-rows: repeat(14, 50px);
}

.tue {
  grid-area: tue;
  display: grid;
  grid-gap: 0.5em;
  grid-template-rows: repeat(14, 50px);
}

.wed {
  grid-area: wed;
  display: grid;
  grid-gap: 0.5em;
  grid-template-rows: repeat(14, 50px);
}

#s5 {
  grid-row: 10/12;
}

.thu {
  grid-area: thu;
  display: grid;
  grid-gap: 0.5em;
  grid-template-rows: repeat(14, 50px);
}

#s16 {
  grid-row: 3;
}

#s19 {
  grid-row: 11/13;
}

#s20 {
  grid-row: 11/13;
}

.fri {
  grid-area: fri;
  display: grid;
  grid-gap: 0.5em;
  grid-template-rows: repeat(14, 50px);
}

#s6 {
  grid-row: 8/9;
}

#s7 {
  grid-row: 13/14;
}

#s12 {
  grid-row: 14/15;
}

.sat {
  grid-area: sat;
  display: grid;
  grid-gap: 0.5em;
  grid-template-rows: repeat(14, 50px);
}

#s13 {
  grid-row: 5/6;
}

#s14 {
  grid-row: 13/15;
}

#s15 {
  grid-row: 8/9;
}

#s17 {
  grid-row: 2;
}

#s18 {
  grid-row: 4/5;
}

.sun {
  grid-area: sun;
  display: grid;
  grid-gap: 0.5em;
  grid-template-rows: repeat(14, 50px);
}

.wrapper {
  display: grid;
  grid-gap: 0em;
  grid-template-columns: 100px auto;
  grid-template-areas:
   "header header"
   "sidebar sun"
   "sidebar mon"
   "sidebar tue"
   "sidebar wed"
   "sidebar thu"
   "sidebar fri"
   "sidebar sat";
}


@media only screen and (min-width: 800px)   {
  .wrapper {
    grid-gap: 0em;
    grid-template-columns: 100px repeat(7, 100px);
    grid-template-areas:
    "header  header  header header header header header header"
    "sidebar sun mon tue wed thu fri sat";
    max-width: 800px;
  }

  .weekly {
    width: 90%;
  }

  .sidebar {
    grid-template-rows: repeat(13, 50px);
  }

  .extra{
    display: none;
  }
}

.work {
  background-color: #da7c4a;
}

.private {
  background-color: #ba6f76;
}

.anniversary {
  background-color: #3a8841;
}

.todo {
  background-color: #027dc5;
}

.schedule:focus {
  box-shadow: inset 0 0 5px 5px #D80546;
  color: #fff;
  outline: none;
}
