RewriteEngine on
RewriteCond %{REQUEST_URI} issues$
RewriteRule .* %{SERVER_PROTOCOL}://%{SERVER_NAME}%{REQUEST_URI}-wd-2015086 [RL]
# See also the insanity that is http://serverfault.com/questions/278651/relative-substitution-in-mod-rewrite-rewriterule
