/*
 * Style sheet for the CSS2 specification
 */

DIV.navbar {
    text-align: center;
}

TR {
    vertical-align: baseline;
}

/* I don't like all that blue text, how about this: */
/* It should be 'inherit', but Netscape inserts a random color :-( */
A.noxref:link, A.noxref:visited {color: black; /*color: inherit*/}
DIV.example A:link, DIV.example A:visited {color: maroon; /*color: inherit*/}
DIV.deprecated.html.example A:link,
DIV.deprecated.html.example A:visited {color: red; /*color: inherit*/}
.note A:link, .note A:visited {color: green; /*color: inherit*/}

A.propdef-title {
  background: yellow;
}

A.descdef-title {
  color: yellow;
  background: green
}

/* TABLE {margin-left: 1em} */
DIV.propdef {margin: 1.2em 0}

pre.illegal.example, div.illegal.example { border-color: red }

.normref { 
    color: red;
}	

.informref {
    color: green;
}	

DIV.propdef TH { 
    text-align: right; 
}

DIV.descdef TH { 
    text-align: right; 
}

/* DIV.subtoc UL, DIV.subtoc OL {list-style: none} */
/* The border in the following rule crashes NN4 on fonts.html :-( */
.subtoc {padding: 1em; border: solid black thin; background: #ddd}
@media screen and (min-width: 78em) {
    /* When the ToC is moved off to the side, it needs no border */
    .subtoc {border: none}
}

BODY>DEL,BODY>INS {display: block}

/* In zindex.html: */
OL.stack P {
    margin-bottom: 0
}

@page {
  margin: 1.5cm 1.5cm 2cm 1.5cm
}

@media print {
HTML > BODY {
    padding-top: 0;	    /* Override /StyleSheets/TR/W3C-REC.css */
    padding-right: 0;	    /* Override /StyleSheets/TR/W3C-REC.css */
    padding-bottom: 0;	    /* Override /StyleSheets/TR/W3C-REC.css */
}

P {
    margin-top: 0;
    margin-bottom: 0;
    text-indent: 1em;
}

/* the following doesn't work for now,
   instead we rely on a patched version of html2ps which has this built-in */
.dlink { display: none }

/* the following doesn't work for now,
   instead we rely on a patched version of html2ps which has this built-in */
DIV.navbar, HR.navbar {
   display: none;
}

H1 { page-break-before: right }
.head H1 { page-break-before: avoid }
}


/* This is mostly to make the list inside the CR exit criteria more compact. */
ol.inline, ol.inline li {display: inline; padding: 0; margin: 0}
ol.inline {counter-reset: list-item}
ol.inline li {counter-increment: list-item}
ol.inline li:before {content: "(" counter(list-item) ") "; font-weight: bold}


/* base.css puts .annoying-warning in a red box fixed at the bottom of
the viewport. Adding INPUT and LABEL as below allows the box to be
clicked away, after which it will appear inline:

   <INPUT ID=annoying-warning TYPE=CHECKBOX TITLE="hide warning">
   <LABEL FOR=annoying-warning>(hide)</LABEL> <DIV
   CLASS=annoying-warning> <P><STRONG>Warning:</STRONG> Text of the
   warning...  </DIV>

*/

.annoying-warning {margin-top: 1.2em}
.annoying-warning :first-child {margin-top: 0}
#annoying-warning, #annoying-warning + * {display: none}

@media screen {
    #annoying-warning:not(:checked) + * + * {position: fixed; z-index: 3;
	bottom: 2em; left: 1em; right: 1em; text-align: center;
	box-shadow: 0 2px 8px black; border-radius: 1em}
    #annoying-warning:not(:checked), #annoying-warning:not(:checked) + * {
	display: block; position: fixed; z-index: 4}
    #annoying-warning {font-size: 1em; bottom: 2.3em; right: 1.5em; margin: 0}
    #annoying-warning + * {font-size: 80%; bottom: 2.5em; right: 3.3em}
    html {margin-bottom: 15em}
}
