/*
 * Style sheet for the CSS2 specification
 */

BODY {
    /* text-align: justify; */
    font-family: helvetica, sans-serif;
    /* For the REC: background: #def url(recbg.jpg); */
}
H2, H3, H4, H5, H6 {
    text-align: left;
}

H1 {
    clear: left;
    margin-top: 2em;
}

DIV.navbar {
    text-align: center;
}

PRE {
    font-family: monospace;
    margin-left: 1em;
    font-size: 90%
}

ADDRESS {
    text-align: right;
    font-style: italic;
}

VAR {
    font-style: normal;
}
IMG {
    border: 0;
}
.toc {
    text-indent: 0;
}
P.toc-line {
    margin-top: 1em;
    margin-bottom: 1em;
    text-indent: 0;
}
TR {
    vertical-align: baseline;
}

/* I don't like all that blue text, how about this: */
/* It should be 'inherit', but Netscape inserts a random color :-( */
A.noxref:link, A.noxref:visited {color: black; /*color: inherit*/}
DIV.example A:link, DIV.example A:visited {color: maroon; /*color: inherit*/}
DIV.deprecated-html-example A:link,
DIV.deprecated-html-example A:visited {color: red; /*color: inherit*/}
.note A:link, .note A:visited {color: green; /*color: inherit*/}

A.propdef-title {
  background: yellow;
}

A.descdef-title {
  color: yellow;
  background: green
}

/* TABLE {margin-left: 1em} */
DIV.propdef {margin: 1.2em 0}

div.example { color: maroon }
pre.example { color: maroon }
pre.illegal-example { color: red }
div.illegal-example { color: red }
div.illegal-example p { color: black }


div.html-example { color: maroon }
pre.html-example { color: maroon }
pre.illegal-html-example { color: red }
div.illegal-html-example { color: red }
div.illegal-html-example p { color: black }
pre.deprecated-html-example { color: red }
div.deprecated-html-example { color: red }
div.deprecated-html-example p { color: black }

div.xml-example { color: maroon }
pre.xml-example { color: maroon }
pre.illegal-xml-example { color: red }
div.illegal-xml-example { color: red }
div.illegal-xml-example p { color: black }

div.dtd-example { color: maroon }
pre.dtd-example { color: maroon }
pre.illegal-dtd-example { color: red }
div.illegal-dtd-example { color: red }
div.illegal-dtd-example p { color: black }

.note {
    /*font-weight: bold;*/
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 1em;
    margin-right: 1em;
    color: green
}

.normref { 
    color: red;
}	

.informref {
    color: green;
}	

DIV.propdef TH { 
    text-align: right; 
}

DIV.descdef TH { 
    text-align: right; 
}

DIV.toc UL UL, DIV.toc OL OL {margin-left: 0}
DIV.toc UL UL UL, DIV.toc OL OL OL {margin-left: 1em}
DIV.toc UL UL UL UL, DIV.toc OL OL OL OL {margin-left: 0}
LI.tocline1 {font-weight: bold}
LI.tocline2 {font-weight: normal}
LI.tocline4 {font-style: italic}
/* DIV.subtoc UL, DIV.subtoc OL {list-style: none} */
/* The border in the following rule crashes NN4 on fonts.html :-(
DIV.subtoc {padding: 1em; border: solid black thin; margin: 1em 0;
    background: #ddd}
*/
UL.index {
  list-style: disc;		/* Mac NS has problem with 'none' */
  list-style: none;
}

DT { 
    font-weight: bold
}

S, DEL {text-decoration: line-through; color: red; background: #fbb}
U, INS {text-decoration: underline; background: #bfb}
BODY>DEL,BODY>INS {display: block}

DIV.figure {
    text-align: center;
    /*border: solid thin;
    width: 100%;*/
    margin: 2.5em 0
}
P.caption, CAPTION {
    text-align: center;
    font-style: italic;
    font-weight: bold;
    font-size: 90%;
    color: #088;
    margin: 1.5em 25% 0 25%;
}
DIV.toc, UL.index, DT {
    text-align: left
}
SUP {
    vertical-align: super;
    font-size: 80%
}

/* In zindex.html: */
OL.stack P {
    margin-bottom: 0
}

/* Open issues. Should be resolved before going to CR */

.issue {color: red}
div.issue, p.issue {border: thin solid red; padding: 0.5em}
.issue:before {content: "Issue:"; background: red; color: white;
                padding: 0 0.5em; font-weight: bold; margin: 0 1em 0 0}

/*
@page {
  @bottom-right {
    font-family: helvetica, sans-serif;
    content: counter(page);
    text-align: right;
    vertical-align: top;
    padding-top: 2em;
  }
}
*/

@page {
  margin: 1.5cm 1.5cm 2cm 1.5cm
}

@media print {
HTML > BODY {
    padding-top: 0;	    /* Override /StyleSheets/TR/W3C-REC.css */
    padding-right: 0;	    /* Override /StyleSheets/TR/W3C-REC.css */
    padding-bottom: 0;	    /* Override /StyleSheets/TR/W3C-REC.css */
}

P {
    margin-top: 0;
    margin-bottom: 0;
    text-indent: 1em;
}

/* the following doesn't work for now,
   instead we rely on a patched version of html2ps which has this built-in */
.dlink { display: none }

/* the following doesn't work for now,
   instead we rely on a patched version of html2ps which has this built-in */
DIV.navbar, HR.navbar {
   display: none;
}

H1 { page-break-before: right }
.head H1 { page-break-before: avoid }
}


/* This is mostly to make the list inside the CR exit criteria more compact. */
ol.inline, ol.inline li {display: inline; padding: 0; margin: 0}
ol.inline {counter-reset: list-item}
ol.inline li {counter-increment: list-item}
ol.inline li:before {content: "(" counter(list-item) ") "; font-weight: bold}
