/*
 * Style sheet for the CSS2 specification
 * $Id: default.css,v 1.20 1998-01-28 20:54:35 bbos Exp $
 */

  BODY {
    color: black;
    font-family: sans-serif;
    background: white;
    margin: 2em;
    /* For the REC: background: #def url(recbg.jpg); */
  }

  H1 {
    clear: left;
    margin-top: 2em;
    text-align: center;
  }

  PRE {
    font-family: monospace;
  }

  IMG {
    border: 0;
    text-align: center;
  }

  TH { 
    text-align: left; 
  }

  DIV.propdef TH { 
    text-align: right; 
  }

  DIV.descdef TH { 
    text-align: right; 
  }
   
  A.propdef-title {
    background: yellow;
  }

  A.descdef-title {
    color: yellow;
    background: green
  }

div.example { color: maroon }
pre.example { color: maroon }
pre.illegal-example { color: red }
div.illegal-example { color: red }
div.illegal-example p { color: black }


div.html-example { color: maroon }
pre.html-example { color: maroon }
pre.illegal-html-example { color: red }
div.illegal-html-example { color: red }
div.illegal-html-example p { color: black }
pre.deprecated-html-example { color: red }
div.deprecated-html-example { color: red }
div.deprecated-html-example p { color: black }

div.xml-example { color: maroon }
pre.xml-example { color: maroon }
pre.illegal-xml-example { color: red }
div.illegal-xml-example { color: red }
div.illegal-xml-example p { color: black }

div.note { color: green; margin-left: 1em }
p.note { color: green; margin-left: 1em }

a.normref { 
    color: red;
}	

a.informref {
    color: green;
}	

UL.toc, OL.toc {list-style: none}
DIV.toc UL UL, DIV.toc OL OL {margin-left: 0}
DIV.toc UL UL UL, DIV.toc OL OL OL {margin-left: 1em}
DIV.toc UL UL UL UL, DIV.toc OL OL OL OL {margin-left: 0}
LI.tocline1 {margin-top: 1em; font-weight: bold}
LI.tocline2 {font-weight: normal}
LI.tocline4 {font-style: italic}
/* DIV.subtoc UL, DIV.subtoc OL {list-style: none} */
DIV.subtoc {padding: 1em; border: solid thin; margin: 1em 0;
    background: #ddd}

S, DEL {text-decoration: line-through}
U, INS {text-decoration: underline}