/*
 * Style sheet for the CSS2 specification
 * $Id: default.css,v 1.12 1997-12-12 16:29:24 bbos Exp $
 */

  BODY {
    color: black;
    font-family: sans-serif;
    background: white;
    margin: 2em;
    /* For the REC: background: #def url(recbg.jpg); */
  }

  H1 {
    clear: left;
    margin-top: 2em;
    text-align: center;
  }

  PRE {
    font-family: monospace;
  }

  IMG {
    border: 0;
    /* text-align: center; */
  }

  TH { 
    align: left; 
  }
   
  A.propdef-title {
    background: yellow;
  }

  A.descdef-title {
    color: yellow;
    background: green
  }

div.example { color: maroon }
pre.example { color: maroon }
tt.example { color: maroon; margin-left: 1em }
pre.dtd { color: black; margin-left: 0 }
div.illegal-example { color: red }
div.illegal-example p { color: black }
div.deprecated-example { color: red }
div.deprecated-example p { color: black }
div.note { color: green; margin-left: 1em }
p.note { color: green; margin-left: 1em }

a.normref { 
    color: red;
}	

a.informref {
    color: green;
}	

UL.toc, OL.toc {list-style: none}
DIV.toc UL, DIV.toc OL {margin-left: 0}
DIV.toc UL UL, DIV.toc OL OL {margin-left: 1em}
LI.tocline1 {margin-top: 1em; font-weight: bold}
LI.tocline2 {font-weight: normal}
LI.tocline4 {font-style: italic}
DIV.subtoc UL, DIV.subtoc OL {list-style: none}

DIV.subtoc {padding: 1em; border: solid thin; margin: 1em 0;
    background: #ddd}
