/* For Prince: */
@page {
    @top {
	content: "\2013\A0" string(chapter) "\A0\2013";
	font-style: italic;
    }
    @bottom {
	content: "\2013\A0" counter(page) "\A0\2013";
    }
}
@page :first {
    @top {content: none}
}

BODY {hyphens: auto}
H1 {string-set: chapter content()}
H1, H2, H3, H4, H5, H6 {hyphens: manual}
A[HREF] {text-decoration: none}
A[HREF^="#"]::after {
    content: "\202f p.\202f" target-counter(attr(href), page);
    font-size: 75%;
    line-height: 0;
    vertical-align: super;
}
.toc A[HREF]::after {
    content: leader(dotted) target-counter(attr(href), page);
    font-size: inherit;
    font-style: normal;
    vertical-align: baseline;
}
.index A[HREF]::after {content: none}
.index A[HREF] {content: target-counter(attr(href), page)}
