AddDefaultCharset UTF-8
DirectoryIndex Overview.html overview.html

RewriteEngine on
RewriteRule ^(.*)css3-grid-align/(.*)$	$1css3-grid-layout/$2 [R=301,L]

/* Module Renames */

RedirectPermanent /csswg/css3-grid-align http://dev.w3.org/csswg/css3-grid-layout
RedirectPermanent /csswg/css4-mediaqueries http://dev.w3.org/csswg/mediaqueries4

/* Versioning System Switchover */

/* XXX insert rules here */

/* Unversioned URLs */

Redirect /csswg/css-counter-styles http://dev.w3.org/csswg/css-counter-styles-3
