AddDefaultCharset UTF-8
DirectoryIndex Overview.html overview.html

RewriteEngine on
RewriteBase /csswg/

# Module Renames

RewriteRule ^css3-grid-align/(.*)$ css3-grid-layout/$1 [R=301,L]
RewriteRule ^css4-mediaqueries/(.*)$ mediaqueries/$1 [R=301,L]
RewriteRule ^css3-mediaqueries/(.*)$ mediaqueries3/$1 [R=301,L]
RewriteRule ^css3-text-layout/(.*)$ css-writing-modes-3/$1 [R=301,L]
RewriteRule ^css3-2d-transforms/(.*)$ css3-transforms/$1 [R=301,L]
RewriteRule ^css3-3d-transforms/(.*)$ css3-transforms/$1 [R=301,L]


# Versioning System Switchover
# ============================
# This set currently goes to the unversioned url,
# to encourage people to use the unversioned links.
# When you update one of the versions here to n+1,
# lock this url down to the level n version url.
# For example, if css3-foo currently redirects to css-foo,
# then when Foo Level 4 is written,
# instead redirect css3-foo to css-foo-3.
RewriteRule ^css3-align/(.*)$ css-align/$1 [R=301,L]
RewriteRule ^css3-animations/(.*)$ css-animations/$1 [R=301,L]
RewriteRule ^css3-background/(.*)$ css-backgrounds/$1 [R=301,L]
RewriteRule ^css3-box/(.*)$ css-box/$1 [R=301,L]
RewriteRule ^css3-break/(.*)$ css-break/$1 [R=301,L]
RewriteRule ^css3-cascade/(.*)$ css-cascade/$1 [R=301,L]
RewriteRule ^css3-color/(.*)$ css-color-3/$1 [R=301,L]
RewriteRule ^css3-conditional/(.*)$ css-conditional/$1 [R=301,L]
RewriteRule ^css3-content/(.*)$ css-content/$1 [R=301,L]
RewriteRule ^css3-exclusions/(.*)$ css-exclusions/$1 [R=301,L]
RewriteRule ^css3-flexbox/(.*)$ css-flexbox/$1 [R=301,L]
RewriteRule ^css3-fonts/(.*)$ css-fonts/$1 [R=301,L]
RewriteRule ^css3-gcpm/(.*)$ css-gcpm/$1 [R=301,L]
RewriteRule ^css3-grid-layout/(.*)$ css-grid/$1 [R=301,L]
RewriteRule ^css3-grid/(.*)$ css-grid-position/$1 [R=301,L]
RewriteRule ^css3-hierarchies/(.*)$ css-hierarchies/$1 [R=301,L]
RewriteRule ^css3-images/(.*)$ css-images-3/$1 [R=301,L]
RewriteRule ^css3-layout/(.*)$ css-template/$1 [R=301,L]
RewriteRule ^css3-linebox/(.*)$ css-inline/$1 [R=301,L]
RewriteRule ^css3-lists/(.*)$ css-lists/$1 [R=301,L]
RewriteRule ^css3-multicol/(.*)$ css-multicol/$1 [R=301,L]
RewriteRule ^css3-namespace/(.*)$ css-namespaces/$1 [R=301,L]
RewriteRule ^css3-overflow/(.*)$ css-overflow/$1 [R=301,L]
RewriteRule ^css3-page-template/(.*)$ css-page-template/$1 [R=301,L]
RewriteRule ^css3-page/(.*)$ css-page/$1 [R=301,L]
RewriteRule ^css3-positioning/(.*)$ css-position/$1 [R=301,L]
RewriteRule ^css3-preslev/(.*)$ css-preslev/$1 [R=301,L]
RewriteRule ^css3-regions/(.*)$ css-regions/$1 [R=301,L]
RewriteRule ^css3-ruby/(.*)$ css-ruby/$1 [R=301,L]
RewriteRule ^css3-sizing/(.*)$ css-sizing/$1 [R=301,L]
RewriteRule ^css3-speech/(.*)$ css-speech/$1 [R=301,L]
RewriteRule ^css3-syntax/(.*)$ css-syntax/$1 [R=301,L]
RewriteRule ^css3-text/(.*)$ css-text/$1 [R=301,L]
RewriteRule ^css3-text-decor/(.*)$ css-text-decor/$1 [R=301,L]
RewriteRule ^css3-transforms/(.*)$ css-transforms/$1 [R=301,L]
RewriteRule ^css3-transitions/(.*)$ css-transitions/$1 [R=301,L]
RewriteRule ^css3-ui/(.*)$ css-ui/$1 [R=301,L]
RewriteRule ^css3-values/(.*)$ css-values/$1 [R=301,L]
RewriteRule ^css3-writing-modes/(.*)$ css-writing-modes/$1 [R=301,L]
RewriteRule ^css4-background/(.*)$ css-backgrounds-4/$1 [R=301,L]
RewriteRule ^css4-images/(.*)$ css-images/$1 [R=301,L]
RewriteRule ^css4-page/(.*)$ css-page-4/$1 [R=301,L]
RewriteRule ^css4-pseudo/(.*)$ css-pseudo/$1 [R=301,L]
RewriteRule ^css4-text/(.*)$ css-text-4/$1 [R=301,L]
#RewriteRule ^css4-xxx/(.*)$ css-xxx/$1 [R=301,L]

# Probably need to merge these at some point?
#RewriteRule ^css3-tables-algorithms/(.*)$ css-tables-algorithm/$1 [R=301,L]
#RewriteRule ^css3-tables/(.*)$ css-table/$1 [R=301,L]


# Unversioned URLs
# ================
# Treat the unversioned url as master,
# and the numbered urls as tagged branches.
# Except for exceptional circumstances, 
# always work in unversioned folders.
# `hg copy` the folder into a versioned name when you publish CR, 
# and update the rule below to n+1,
# so you can start work on the next level in an unversioned folder.
#
# No need to add a url here *until* you hit CR and start a new level.
# If you start a new level before CR,
# `hg copy` into an n+1 versioned folder,
# then unversion it with `hg rename` when level n hits CR.

RewriteRule ^css-align-3/(.*)$ css-align/$1
RewriteRule ^css-animations-1/(.*)$ css-animations/$1
RewriteRule ^css-backgrounds-3/(.*)$ css-backgrounds/$1
RewriteRule ^css-box-3/(.*)$ css-box/$1
RewriteRule ^css-break-3/(.*)$ css-break/$1
RewriteRule ^css-cascade-3/(.*)$ css-cascade/$1
RewriteRule ^css-color-4/(.*)$ css-color/$1
RewriteRule ^css-conditional-3/(.*)$ css-conditional/$1
RewriteRule ^css-content-3/(.*)$ css-content/$1
RewriteRule ^css-counter-styles-3/(.*)$ css-counter-styles/$1
RewriteRule ^css-device-adapt-1/(.*)$ css-device-adapt/$1
RewriteRule ^css-display-3/(.*)$ css-display/$1
RewriteRule ^css-exclusions-3/(.*)$ css-exclusions/$1
RewriteRule ^css-flexbox-1/(.*)$ css-flexbox/$1
RewriteRule ^css-font-load-events-3/(.*)$ css-font-load-events/$1
RewriteRule ^css-fonts-3/(.*)$ css-fonts/$1
RewriteRule ^css-gcpm-3/(.*)$ css-gcpm/$1
RewriteRule ^css-grid-1/(.*)$ css-grid/$1
RewriteRule ^css-grid-position-3/(.*)$ css-grid-position/$1 # Maybe merge into Grid? Or Position?