AddDefaultCharset UTF-8
DirectoryIndex Overview.html overview.html

RewriteEngine on
RewriteBase /csswg/

# Module Renames

RewriteRule ^css3-grid-align/(.*)$	css3-grid-layout/$2 [R=301,L]
RedirectPermanent /csswg/css4-mediaqueries http://dev.w3.org/csswg/mediaqueries4

# Versioning System Switchover

#XXX insert rules here
Redirect /csswg/css3-text-decor http://dev.w3.org/csswg/css-text-decor-3
Redirect /csswg/css3-xxx http://dev.w3.org/csswg/css-xxx-3

# Unversioned URLs

Redirect /csswg/css-counter-styles http://dev.w3.org/csswg/css-counter-styles-3
Redirect /csswg/css-text-decor http://dev.w3.org/csswg/css-text-decor-3