/*
 * Style sheet for the CSS3 specification,
 * to be used in addition to https://www.w3.org/StyleSheets/TR/W3C-{WD,PR,REC}
 */

@import "https://www.w3.org/StyleSheets/TR/2016/base.css";

/** Example Code **************************************************************/

	div.html, div.xml,
	pre.html, pre.xml {
		padding: 0.5em;
		margin: 1em 0;
		position: relative;
		clear: both;
		color: #600;
		color: var(--example-text);
	}
	pre.example,
	pre.html,
	pre.xml {
		padding-top: 1.5em;
	}

	pre.illegal, .illegal pre
	pre.deprecated, .deprecated pre {
		color: red;
	}

/** Inline markup fragments ***************************************************/

	code.html, code.xml {
		color: #660000;
		color: var(--example-text);
	}

/******************************************************************************/
/*                                    Images                                  */
/******************************************************************************/

	pre.ascii-art {
		display: table; /* shrinkwrap */
		margin: 1em auto;
		line-height: normal;
	}

	/* Displaying the output of text layout, particularly when
		 line-breaking is being invoked, and thus having a
		 visible width is good. */
	pre.output {
		margin: 1em;
		border: solid thin silver;
		border: solid thin var(--datacell-border);
		padding: 0.25em;
		display: table;
	}


/** Profile Tables ************************************************************/
	/* table of required features in a CSS profile */

	table.features th {
		background: #00589f;
		color: #fff;
		text-align: left;
		padding: 0.2em 0.2em 0.2em 0.5em;
	}
	table.features td {
		vertical-align: top;
		border-bottom: 1px solid #ccc;
		padding: 0.3em 0.3em 0.3em 0.7em;
	}

/** At-risk List **************************************************************/
	/* Style for At Risk features (intended as editorial aid, not intended for publishing) */

	.atrisk::before {
	 float: right;
	 margin-top: -0.25em;
	 padding: 0.5em 1em 0.5em 0;
	 text-indent: -0.9em;
	 border: 1px solid;
	 content: '\25C0    Not yet widely implemented';
	 white-space: pre;
	 font-size: small;
	 background-color: white;
	 color: gray;
	 text-align: center;
	}

	.toc .atrisk::before { content:none }

/** File Issue Link ***********************************************************/
	/* Style for https://resources.whatwg.org/file-issue.js */

	.selected-text-file-an-issue {
	 position: fixed;
	 bottom: 0;
	 right: 0;
	 background: rgba(255, 255, 255, 0.8);
	 font-size: smaller;
	 padding: 4px 10px;
	 z-index: 1;
	 text-decoration: underline;
	}
	@media (max-width: 767px) {
	 .selected-text-file-an-issue { left: 0; right: auto; text-align: left; }
	}
