/* Include this after default.css when publishing to TR
 * Has a handful of hacks that make the webmaster happy,
 * even though they make the document less readable overall :(
 */


/* The webmaster hates readable line lengths */
body {
	max-width: none;
	line-height: normal;
}

/* The webmaster loves blue links more than readability of link-heavy text. */
a:link, a:visited {
	text-decoration: underline;
	border-bottom: none;
}
a:link {
	color: blue;
}
a:visited {
	color: purple;
}
a.logo {
	text-decoration: none;
	padding: 0;
}
