body {
	max-width: 70em;
	margin: auto;
	padding: 0;
	font: 100%/1.5 Helvetica Neue, sans-serif;
}

a {
	color: inherit;
}

	a:not(:hover):not(:focus) {
		text-decoration: none;
	}

fieldset {
	border: 1px solid rgba(0,0,0,.2);
	border-radius: .5em;
	margin-bottom: .6em;
}

header {
	position: relative;
	width: fit-content;
	max-width: 100%;
	margin: 0 auto 3em;
	padding: 2em 0;
	background: hsl(200, 10%, 90%);
}

	header::before {
		content: "";
		position: absolute;
		width: 100vw;
		top: 0;
		left: calc(-1 * (50vw - 50%));
		right: calc(-1 * (50vw - 50%));
		bottom: 0;
		z-index: -1;
		background: inherit;
	}

	header > h1 {
		margin-bottom: 2rem;
		text-align: center;
		font-size: 300%;
		font-weight: 200;
		text-align: center;
	}

		header > h1 a {
			display: block;
		}

	header > h2 {
		display: flex;
		color: rgba(0,0,0,.5);
	}

		header > h2 .doc {
			flex: 1;
		}

		header > h2 .count {
			font-weight: 500;
			font-style: italic;
			margin-left: .5em;
		}

			header > h2 .count::before {
				content: "— "
			}

[property="issue"] {
	padding-bottom: .01em; /* to avoid margin collapsing */
	margin: 1em 0;
	border-radius: .5rem;
	background: hsl(200, 10%, 93%);
}

	[property="issue"].filtered {
		display: none !important;
	}

	[property="issue"] h1 {
		display: flex;
		padding: .5rem 1rem;
		background: rgba(0,0,0,.4);
		background: var(--dark-color, rgba(0,0,0,.4));
		border-radius: .5rem .5rem 0 0;
		color: white;
		margin: 0;
		font-size: 120%;
	}

	[property="issue"].issue-open {
		background-image: linear-gradient(hsla(0,0%,100%,.5), hsla(0,0%,100%,.5));
	}

		[property="issue"].issue-open h1 {
			background-image: linear-gradient(hsla(0,0%,100%,.3), hsla(0,0%,100%,.3));
		}

	[property="issue"] > :not(h1) {
		margin: 1rem;
	}

	[property="issue"] [property="summary"] {
		flex: 1;
		margin-left: .5em;
	}

		[property="summary"] input::placeholder {
			color: hsla(0,0%,100%,.3);
		}

	[property="issue"] [property="openness"],
	[property="issue"] [property="status"] {
		padding: .1em .5em;
		border-radius: .2em;
		background: black;
		font-size: 90%;
	}


	[property="issue"] [property="openness"] {
		border-top-right-radius: 0;
		border-bottom-right-radius: 0;
		margin-left: .2em;
		opacity: .5;
	}
		.issue-closed [property="openness"] {
			background: hsl(80, 60%, 45%);
			opacity: 1;
		}

	[property="issue"] [property="status"] {
		border-top-left-radius: 0;
		border-bottom-left-radius: 0;
		margin-right: .2em;
	}

[property="issue"] [property="id"] {
	font-weight: 100;
}

	[property="issue"] [property="id"]::before {
		content: "#"
	}

[property="issue"] dl > .mv-add {
	margin-left: 3em;
}

dl > dt:not(:first-of-type) {
	margin-top: 1em;
}

	dt {
		font-size: 75%;
		font-weight: bold;
	}

.status-new {
	background: hsl(200,10%,90%);
	--dark-color: hsl(200, 10%, 60%);
}

.status-deferred {
	background: hsl(180, 50%, 80%);
	--dark-color: hsl(180, 50%, 40%);
}

.status-accepted {
	background: hsl(80, 60%, 60%);
	--dark-color: hsl(80, 60%, 35%);
}

.status-out-of-scope,
.status-invalid,
.status-retracted {
	background: hsl(65, 80%, 60%);
}

.status-rejected {
	background: hsl(30, 100%, 70%);
}

.status-objection {
	background: hsl(0, 100%, 70%);
}

.filter label {
	display: inline-block;


	border-radius: .3em;
}

	.filter label[property="statusFilter"] {
		padding: .3em .5em;
		margin: .25em;
	}

.mv-item-bar.mv-ui[mv-rel="issue"] {
	position: static;
	pointer-events: auto;
	opacity: 1;
	border: 0;
	margin-left: .5em;
}

	.mv-item-bar.mv-ui[mv-rel="issue"]:not(:hover):not(:focus) {
		mix-blend-mode: multiply;
	}

.thread {
	display: inline-block;
	padding: .2em .5em .1em;
	border-radius: .3em;
	margin-left: .5em;
	background: rgba(0,0,0,.35);
	color: white;
	font-weight: bold;
	font-size: 65%;
	text-transform: uppercase;
	mix-blend-mode: multiply;
}

	.thread:hover {
		background: black;
		text-decoration: none;
	}

.markdown p:first-child { margin-top: 0; }
.markdown p:last-child { margin-bottom: 0; }

[data-show-read="false"], [data-show-read="0"] {
	display: none;
}

	[mv-mode="edit"] [data-show-read="false"],
	[mv-mode="edit"] [data-show-read="0"] {
		display: block;
	}

.mv-add-issue {
	display: block;
	padding: .3em .5em;
	margin: 0 auto 1em;
	font-size: 180%;

}

[property="status"], [property="resolved"] {
	white-space: nowrap;
}

form input, form button {
	font: inherit;
}

form {
	font-weight: bold;
}

@media (min-width: 1670px) {
	.filters {
		position: fixed;
		left: 1em;
		top: 3em;
		width: 15.5em;
		max-width: 50vw - 35em;
		max-height: calc(100vh - 3em);
		overflow: auto;
	}
}

[property=tag] {
	display: inline-block;
	padding: .2em .5em .3em;
	border-radius: .3em;
	margin: .2em;
	background: var(--dark-color, rgba(0,0,0,.4));
	background-image: linear-gradient(hsla(0,0%,100%,.2), hsla(0,0%,100%,.2));
	color: white;
	font-weight: bold;
}

	[property=tag] ::placeholder {
		color: hsla(0,0%,100%,.6);
	}
