.informative-bg {
  margin: 1.5em 0 1em;
  padding: 1em;
  margin-top: 1em;
  background: #efe;
  border: green 1px dotted;
}

div.informative-bg *:last-child {
  margin-bottom: 0;
}

div.informative-bg p:first-child {
  margin-top: 0;
}

div.informative-bg h2,
div.informative-bg h3,
div.informative-bg h4 {
  background: none;
}

figcaption::before {
  content: "Figure " counter(figure) "." ;
}

.example::before {
  content: "Example " counter(example);
}
.issue::before {
  content: "Issue " counter(issue);
}

a.self-link {
  position: absolute;
  top: 0;
  left: -2.5em;
  width: 2em;
  height: 2em;
  text-align: center;
  border: none !important;
  opacity: .5;
  transition: opacity .2s;
}
a.self-link:hover {
  opacity: 1;
}
a.self-link::before            { content: "¶"; }
.heading > a.self-link::before { content: "§"; }
dfn > a.self-link::before      { content: "#"; }

.annotation {
  margin: 1.5em 0 1em;
  padding: 1em;
  border: initial;
}

div.annotation *:last-child {
  margin-bottom: 0;
}

.annotation:before {
  display: block;
  margin: -1.5em 0 0.5em;
  font-weight: bold;
  padding: 3px 1em;
  background: white;
}

.annotation:before {
  content: "Annotation";
  border: 1px solid #A8C;
  width: 150px;
}
.annotation {
  background: #EDF;
}

div[role="math"] > .explanation {
  position: absolute;
  width: 400px;
  left: -10000px;
  overflow: hidden;
}

code {
  color: #ff4500;
}

div.switch > dl {
  padding-left: 2em;
}

div.switch > dl > dt > p {
  display: inline;
}

div.switch > dl > dt:before {
  content: '\21AA';
  padding: 0 0.5em 0 0;
  display: inline-block;
  width: 1em;
  text-align: right;
  line-height: 0.5em;
  margin-left: -1.3em;
}


.attributes:before, .methods:before, 
.parameters:before, .exceptions:before,
.constructors:before, .members:before {
  font: bold 100% sans-serif;
  text-align: left;
  margin: 1.33em 0px;
  color: #005A9C;
}

.attributes:before {
  content: 'Attributes';
}

.methods:before {
  content: 'Methods';
}

.parameters:before {
  content: 'Parameters';
}

.exceptions:before {
  content: 'Exceptions';
}

.constructors:before {
  content: 'Constructors';
}

.members:before {
  content: 'Dictionary members';
}

.methods dt code {
  background: #d9e6f8;
  color: #000;
}

.param {
  font-weight: bold;
}
.exceptionname {
  font-weight: bold;
}
.estype,
.esvalue {
  font-weight: bold;
}
