.swatch {
	position: relative;
	z-index: 1;
	display: inline-block;
	vertical-align: calc(-.1em - 3px);
	padding: .6em;
	background-color: var(--color);
	border: 3px solid white;
	border-radius: 3px;
	box-shadow: 1px 1px 1px rgba(0,0,0,.15)
}

.swatch.oog {
	border: 2px solid red;
}

.swatch:hover {
	transform: scale(3);
	border-radius: 2px;
	transition: .4s;
}

table.gamuts tr>td {
 width: 12em;
}

table.gamuts tr>td+td {
	width: 15em;
   }

table.gamuts tr:hover {
	background: papayawhip;
}

#SystemCombo span {
	padding: 0.2em;
	border: thin solid #555;
	box-shadow: 2px 2px 1px rgba(0,0,0,.15)
}
