.issue-details{  
     margin:0.5em 0 0;
     background:#eee;  
     padding:0.5em;
     border:1px solid #ddd;    
 }

.issue-details p{
     padding:0;
     margin:0; 
 }           

.issue-details .status{
     background:#333;   
     color:white;
     float:left;    
     padding:0.15em 0.8em;    
     font-size:0.8em;
     margin-right:0.8em;
     text-transform:uppercase;      
 }
