.swatch {
	position: relative;
	z-index: 1;
	display: inline-block;
	vertical-align: calc(-.1em - 3px);
	padding: .6em;
	background-color: var(--color);
	border: 3px solid white;
	border-radius: 3px;
	box-shadow: 1px 1px 1px rgba(0,0,0,.15);
	forced-color-adjust: none;
}

.swatch.oog {
	border: 2px solid red;
}

.swatch:hover,
.swatch:focus {
	transform: scale(3);
	border-radius: 2px;
	transition: .4s;
	z-index: 2;
}
