.issue-marker {
   background:#eee;  
   border:1px solid #ddd; 
   font-size: 1em;
}
   
.issue-marker.wrapper {
   background: none;
   border: none;
}

.issue-marker a:link {
   color: #c00;
   background: none;
   font-weight: normal;
   padding-right: 0.5em;
}

.issue-details {  
 padding:0.5em;
 font-size: 0.8em;
 line-height: 1.5;
}

.issue-details p{
 padding:0;
 margin:0; 
}           

.issue-details .status{
 background:#333;   
 color:white;
 float:left;    
 padding:0.15em 0.8em;    
 font-size:0.8em;
 margin-right:0.8em;
 text-transform:uppercase;      
}
 
#issue-manager form{
    background: #eee;
    padding:10px 1em;
}

/* hide all non-"updated" issues */
#issue-manager[data-view_state="updated"] #issue-list>div:not([data-issue_state="updated"]){
    display:none;
}
   
/* hide all non-"new" issues */
#issue-manager[data-view_state="new"] #issue-list>div:not([data-issue_state="new"]){
    display:none;
}
         
 #issue-manager .issue-marker{ 
     background: none;
     position: relative;  
     margin:0; 
     width:auto;
     text-align:left; 
     padding:0.5em 0;
 }
 
 #issue-manager .issue-marker a:link{
     padding:0.5em;
 }
 
 #issue-list div[data-issue_state="new"]{
     background:#C1FFC1;
 }  

 #issue-list div[data-issue_state="resolved"]{
     background:white;
     color: #a0a0a0;
 }  

 #issue-list div[data-issue_state="updated"]{
     background:papayawhip;
 }     
 
 #issue-list{
     margin-top:20px;
 }

 #issue-list pre{
     padding:1em;
     margin:0;
 }   
 
 #issue-list>div{
     position:relative;
 }
 
 #issue-list a.issue-markup-trigger{  
     font-size: 0.8em;
     padding: 0.2em 0.5em;
     background: #eee;      
     text-decoration: none;    
     color: #444;
     /* this was causing all the trigger
        links to stack up in one spot,
        even though the wrapper is
        relative position */
     /*position: absolute;
     right: 10px;
     top: 10px; */
     z-index: 1;
 }  
 
  #issue-list a.issue-markup-trigger:hover{
      background: #ddd;
      color: #000;
  }                        
 
 #issue-list .showMarkup pre{
     display: block;
 }                           
 
 #issue-list .showMarkup .issue-marker,
 #issue-list pre{
     display: none;
 }

.issue-marker {
     background:#eee;  
     border:1px solid #ddd; 
     font-size: 1em;
 }
 
 .issue-marker.wrapper {
     background: none;
     border: none;
 }

.issue-marker a:link {
     color: #c00;
     background: none;
     font-weight: normal;
     padding-right: 0.5em;
 }

.issue-details {  
     padding:0.5em;
     font-size: 0.8em;
     line-height: 1.5;
 }

.issue-details p{
     padding:0;
     margin:0; 
 }           

.issue-details .status{
     background:#333;   
     color:white;
     float:left;    
     padding:0.15em 0.8em;    
     font-size:0.8em;
     margin-right:0.8em;
     text-transform:uppercase;      
 }