.issue-marker {
    background: #eee;
    border:1px solid #ddd;
    font-size: 1em;  
    padding: 0.5em;
}
   
.issue-marker.wrapper {
    background: none;
    border: none; 
}

.issue-marker a:link {
   color: #c00;
   background: none;
   font-weight: normal;
}

.issue-details {  
    font-size: 0.8em;
    line-height: 1.5; 
    margin-top: 0.5em;
}

.issue-details p{
    padding:0;
    margin:0; 
}

.issue-details .status{
    background: #333;
    color: white;
    float: left;
    padding: 0.15em 0.8em;
    font-size: 0.8em;
    margin-right: 0.8em;
    text-transform: uppercase;
}

/* Issue Dashboard styles */
#issue-dashboard {
    position: fixed;
    bottom: 0;
    right: 0;
    background: #333;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.5);
}

#issue-dashboard.open{
    height: 50%;
    width: 50%;
    opacity: 0.98;
}

#issue-dashboard .issue-list{
    display: none;
    margin: 0;
    padding: 0;
    list-style: none;
}

#issue-dashboard.open .issue-list{
    display: block;
    width: 100%;
    height: 100%;
    overflow: auto;
}

.issue-dashboard-header{
    display: none;
    padding: 7px 20px;
    margin-top: -30px;
    text-decoration: none;
    color: black;
}

.issue-dashboard-header em{
    font-style: normal;
    padding: 1px 10px;
    margin-left: 10px;
    background: #eee;
    color: black;
    font-size: 0.9em;
}

.ok .issue-dashboard-header{
    display: block;
    background-color: #ccc;
}

.warning .issue-dashboard-header{
    display: block;
    background-color: #f0f0f0;
    border-top: thin solid #c0c0c0;
    border-left: thin solid #c0c0c0;
}

.warning .issue-dashboard-header:hover{
    background-color: #d0d0d0;
    opacity: 1;
}

.warning .issue-dashboard-header em{
    background-color: red;
    color: white;
    padding: 0.5em;
    text-decoration: none;
}

.issue-list li{
    padding: 20px;
    margin: 0px;
    border-bottom: 1px solid #000;
}  

.issue-list .issue-marker,
.issue-list .showMarkup pre{
    display: block;
    clear: both;
}

.issue-list .showMarkup .issue-marker,
.issue-list pre{
    display: none;
}

.issue-list pre{
    background: #333;
    color: white;
    padding: 0.2em 1em;
    margin: 0;
    overflow: auto;
}

.issue-list .meta{
    display: block;
    padding: 2px 7px;
    background: #666;
    color: white;
    float: left;
    text-transform: uppercase;
}

.issue-list .toggle{
    float: right; 
    color: white;
} 

.issue-list .toggle:hover{
    background: none;
    text-decoration: none;
}

.issue-list .meta,
.issue-list .toggle{
    margin-bottom: 10px;  
    font-size: 0.8em;
}