@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url(https://themes.googleusercontent.com/static/fonts/roboto/v11/2UX7WLTfW3W8TclTUvlFyQ.woff)
}
body {
  font-family: 'Roboto';
  margin: 0;
}
#folder_btn {
  cursor: pointer;
  position: fixed;
  right: 0px;
  top: 0px;
  width: 30px;
  height: 37px;
  border: 1px #777 solid;
  background-color: #DDD;
  font-size: 1.5em;
  text-align: center;
  opacity: 0.8;
}
#folder_btn:hover {
  background-color: #CCC;
}
#info_panel {
  position: fixed;
  right: 0px;
  top: 0px;
  width: 600px;
  background-color: #EEE;
  border: 1px #777 solid;
  padding: 10px;
  padding-left: 20px;
  opacity: 0.8;
  font-weight: bold;
  font-size: 1.8em;
  line-height: 1.6;
}
#author_panel {
  font-weight: normal;
  font-style: italic;
  font-size: 0.5em;
  padding-bottom: 15px;
  text-align: right;
}
#description_panel {
  font-weight: normal;
  font-size: 0.6em;
}

.label {
  display: inline-block;
  width: 120px;
  text-align: center;
}

.container {
  border: 3px #7b4 solid;
  padding: 10px;
  margin: 10px;
}
.c1 {
  border: 3px #F08080 solid;
  width: 200px;
  height: 200px;
}
.c2 {
  border: 3px #88c solid;
  width: 200px;
  height: 200px;
}

.box {
  position: relative;
  box-sizing: border-box;
  width: 20px;
  height: 20px;
  border: 1px #555 solid;
}
.b1 {
  background: #6ac;
}
.b2 {
  background :#F08080;
}
.b3 {
  background :#88c;
}
.b4 {
  background :#c88;
}

:focus {
  outline: 4px #3582ff solid;
}

iframe:focus {
  outline: 4px #3582ff solid;
}
