@import url(https://fonts.googleapis.com/css?family=Droid+Serif:700,400,400italic,700italic);
@import url(https://fonts.googleapis.com/css?family=Droid+Sans+Mono);

body {
    font-family: 'Droid Serif', serif;
    font-size: 14px;
    width: 38em;
    color: #2f2f2f;
    line-height: 1.7em;
}

h1, h2, h3, h4, h5, h6 {
    color: #4f4f4f;
    font-weight: bold;
}

h1 {
    font-size: 200%;
}

h2 {
    font-size: 160%;
}

h3 {
    font-size: 140%;
}

h4, h5 {
    font-size: 120%;
}

h2, h3, h4, h5, h6 {
    margin-top: 1.2em;
}

h1, h2, h3, h4, h5, h6, table, th, tr, td {
    font-family: 'Droid Serif', serif;
}

h1+h2 {
    font-weight: normal;
    margin-top: 0em;
    margin-bottom: 2em;
}

h1 {
    margin-bottom: 0em;
    line-height: 1em;
}

a, a:visited, a:link, :link {
    color: #46A4E9;
}

a[href]:hover {
    color: #005A9C;
    background-color: white;
}

.secno {
    color: #3f3f3f;
}

.toc a {
    color: #3f3f3f;
}

.toc a:hover {
    color: #46A4E9;
    background-color: white;
}

.css, .property {
    color: #46A4E9;
}
pre {
    margin-left: 0em;
    line-height: 1.4em;
}

pre, code {
    font-family: 'Droid Sans Mono', Inconsolata, monospace;
    font-size: 83%;
    line-height: 1.4em;
}

code.xml, code.html, code.css {
    color: #3f3f3f;
}

code > pre {
    font-size: 100%;
}

pre > code {
    font-size: 100%;
}

div.example:before {
    color: #808080  ;
	background: none;
	border: none;
	text-transform: none;
	font-weight: bold;
	width: 100%;
	display: block;
}

div.example {
	background: none;
	padding: 0.75em;
	margin: 1em 0;
	border-top: thin solid rgba(0, 0, 0, 0.1);
	border-bottom: thin solid rgba(0, 0, 0, 0.1);
	border-left: none;
	position: relative;
	clear: both;
}

div.example {
	color: #303030
}

div.issue {
	color: red;
	margin-top: 1em;
	padding: 0.5em;
	border-left: 1ex solid red;
	padding-left: 1em;
	position: relative;
	color: gray;
	background: none;
}

div.issue:before {
	content: "Issue " counter(issue);
	background: none;
	padding: 0;
	margin: 0 0 0.7em 0;
	border: none;
	font-weight: bold;
	color: gray;
	display: block;
}

.issue {
	counter-increment: issue;
}

table.propdef {
    background: none;
    border-left: none;
}

table.propdef td, table.propdef-extra td, 
table.descdef td, table.propdef th, 
table.propdef-extra th, table.descdef th {
    padding: 0.5em;
    vertical-align: baseline;
    border-bottom: thin solid rgba(0, 0, 0, 0.2);
}

table.propdef > tbody > tr:last-child th,
table.propdef-extra > tbody > tr:last-child th,
table.descdef > tbody > tr:last-child th,
table.propdef > tbody > tr:last-child td,
table.propdef-extra > tbody > tr:last-child td,
table.descdef > tbody > tr:last-child td {
    border-bottom: thin solid rgba(0, 0, 0, 0.2);
}

table.propdef tr:first-child td, table.propdef tr:first-child th {
    border-top: thin solid rgba(0, 0, 0, 0.2);
}

table.propdef tr:nth-child(odd) {
    background-color: rgba(0, 0, 0, 0.02);
}

p.note {
	border: none;
	border-left: 1ex solid rgba(0, 0, 0, 0.1);
    background: none;
}

div.note {
	margin-top: 1em;
	padding: 0.5em;
	border: none;
	border-left: 1ex solid rgba(0, 0, 0, 0.1);
	padding-left: 1em;
	padding-bottom: 1em;
	position: relative;
	background: none;
}

div.note:before {
	content: "Note " counter(note);
	background: none;
	padding: 0;
	margin: 0 0 0.7em 0;
	border: none;
	font-weight: bold;
	display: block;
}

div.note p {
	color: black;
}

div.note p:before {
	color: #1C75BC;
}

.note {
	counter-increment: note;
}

pre.code {
	margin-top: 1em;
	padding: 0.5em;
	border-left: 1ex solid gray;
	padding-left: 1em;
	position: relative;
	background: #F0F0F0;
	margin-left: 0px;
}

pre.idl {
	background: #f4f4f4;
	padding: 0.5em;
	margin: 1em 0;
	border: thin solid #999;
	position: relative;
	clear: both;
}

.swatch-list li {
	list-style: none;
}

.swatch-list {
	display: inline-block;
}

#region_styling_img_2 {
	float: left;
	margin-bottom: 1em;
}

.swatch {
	width: 1em;
	height: 1em;
	border: 1px solid black;
	display: inline-block;
	margin-right: 0.5em;
	margin-bottom: -0.25em;
	margin-top: 0.5em;
}

#region-style-example p, #region-style-example pre {
	clear: both;
}

#region_styling_illustration {
	margin: 0px auto;
	width: 70ex;
}

.event-desc td, .event-desc th {
	border: 1px solid gray;
}

.event-desc th {
	text-align: left;
	padding: 0.5ex;
}

.resolved, .moved, .stale {
	display: none;
}

p {
	margin-bottom: 1em;
}


table.values-desc {
    border-collapse: collapse;
    margin-top: 0.5em;
}

.values-desc td {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0.5em;
}

.values-desc td:first-child {
    font-weight: bold;
}

.values-desc tr:nth-child(odd) {
    background-color: rgba(0, 0, 0, 0.02);
}

.values-desc th {
    font-weight: bold;
}

table.values-desc {
    border-left: none;
    padding-left: 1ex;
}

.figure {
    page-break-inside: avoid;
}

#default-fragment-shader:before {
    content: "Default fragment shader";
}

#default-vertex-shader:before {
    content: "Default vertex shader";
}

.table .caption::before {
    counter-increment: table;
    content: '';
}

span.highlight {
    color: #46A4E9;
}

span.highlight2 {
    color: #E00000;
}

span.fade {
    color: rgba(0, 0, 0, 0.4);
}

table.values-desc td:first-child {
    min-width: 28ex;
}

#div-head > h1:before {
    content: '';
    background-image: url(https://www.w3.org/2008/site/images/logo-w3c-mobile-lg);
    display: block;
    width: 90px;
    height: 53px;
    position: absolute;
    margin-left: -120px;
    border-radius: 0.2em;
    -webkit-box-shadow: 0.1em 0.1em 0.2em rgba(0, 0, 0, 0.2);
    -ms-box-shadow: 0.1em 0.1em 0.2em rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0.1em 0.1em 0.2em rgba(0, 0, 0, 0.2);
    -o-box-shadow: 0.1em 0.1em 0.2em rgba(0, 0, 0, 0.2);
    box-shadow: 0.1em 0.1em 0.2em rgba(0, 0, 0, 0.2);
}

img[alt='W3C'] {
    display: none;
}