body {
  font-family: Roboto, sans-serif;
  font-weight: 300;
  margin: 0;
  padding: 0;
  word-break: break-word;
}

/* style for side menu area */
nav {
  background: #F5F5F5;
  width: 200px;
}

nav a {
  display: block;
  padding: 15px 20px;
  color: black;
  font-weight: 400;
}

nav a:hover {
  background: gray;
  color: white;
}

.submenu {
  padding: 10px 0 10px 30px;
  font-size: 12px;
  font-weight: 400;
}

.submenu:hover {
  background: #999;
  color: white;
}

/* style for header content */
header div{
  font-size: 13px;
  border-top: 1px #182 solid;
  border-bottom: 1px #182 solid;
  text-align: center;
  color: #FFF;
  background: #293;
  top: 0;
  width: 100%;
}


/* style for footer content */
footer {
  background: #293;
  color: white;
}

footer a {
  margin: 0 10px;
  font-weight: 400;
  color: white;
}

/* style for main content */
main {
  flex: 1;
}


h2 {
  margin-top : 50px;
  color: #679;
}

h3 {
  margin-top : 40px;
  font-size: 20px;
}

.iframe-description {
  width: 800px;
}

iframe {
  border: 5px solid #182;
  height: 500px;
  width: 800px;
}

iframe #info_panel, #folder_btn{
  display: none;
}

iframe:focus {
  border: 5px solid #1E90FF;
}

a {
  color: #15c;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/* style for common */
.text-align {
  text-align: center;
}

.basic-padding{
  padding : 20px;
}

.flex-box {
  display: flex;
}

.divider {
  margin: 1em 0;
  border-top: 1px solid #eee;
}
