@font-face {
  font-family: 'LG Smart Bold';
  font-style: normal;
  font-weight: normal;
  src: local('LG Smart Bold'), url('LG Smart Bold.woff') format('woff');
}

@font-face {
font-family: 'LG Smart';
font-style: normal;
font-weight: normal;
src: local('LG Smart'), url('LG Smart Regular.woff') format('woff');
}

body {
  font-family: Roboto, sans-serif;
  margin: 0;
  padding: 0;
  word-break: break-word;
}

:focus {
  outline: 2px solid #1E90FF;
}

/* style for side menu area */
nav {
  font-family:'LG Smart';
  font-size: 21px;
  width: 200px;
  min-width: 200px;
  border-right: 1px solid lightgray;
}

nav .menu {
    position: -webkit-sticky;
    position: sticky;
    top: 0px;
}

nav .menu a {
  display: block;
  padding: 12px 20px;
  font-weight: 600;
  color: #2c366f;
}

nav .menu a:hover {
  background: #d6c4f6;
}

nav .menu a.submenu {
  padding: 10px 0 10px 30px;
  font-size: 15px;
  font-weight: 600;
}

/* style for header content */
header .title{
  width: 100%;
  height: 81px;
  line-height: 81px;
  background: #5e568b;
  color: #FFF;
  font-family:'-webkit-body';
  font-size: 36px;
  font-weight: 600;
}

#icon-image {
  margin-bottom: -12px;
  margin-right: 10px;
}

header div{
  font-size: 13px;
  text-align: center;
  color: #FFF;
  background: #8170d7;
  width: 100%;
  height: 25px;
}
header div.deactivate {
  background: gray;
}

header div:not(.deactivate) .deactivate-description{
  display: none;
}

header div.deactivate .activate-description{
  display: none;
}

header div span {
  display: inline-block;
  width: 550px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 45px;
  height: 17px;
  margin-left: 10px;
  top: 3px;
}

.switch input {
  display:none;
}

.slider {
  width: 100%;
  height: 100%;
  border-radius: 34px;
  background-color: #ccc;
  -webkit-transition: .2s;
  transition: .2s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 13px;
  width: 19px;
  left: 3px;
  bottom: 2px;
  background-color: white;
  border-radius: 40%;
  -webkit-transition: .2s;
  transition: .2s;
}

input:checked + .slider {
  background-color: #5a1875;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(19px);
  -ms-transform: translateX(19px);
  transform: translateX(19px);
}


/* style for footer content */
footer {
  font-family: 'LG Smart';
  font-size: 18px;
  background: #5e568b;
  color: white;
}

footer div:first-child {
  margin-bottom: 10px;
}

footer a {
  margin: 0 10px;
  font-weight: 400;
  color: white;
}

/* style for main content */
main {
  flex: 1;
}

main h2 {
  color: #673AB7;

}

h3 {
  margin-top: 40px;
  padding-left: 10px;
  color: #679;
  font-size: 20px;
}

.iframe-description {
  width: 800px;
}

iframe {
  border: 1px solid gray;
  border-radius: 7px;
  height: 500px;
  width: 800px;
}

iframe #info_panel, #folder_btn{
  display: none;
}

iframe:focus {
  outline: 5px solid #1E90FF;
}

iframe:focus-within {
  outline: 5px solid #1E90FF;
}

a {
  color: #0049bf;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/* style for common */
.text-align {
  text-align: center;
}

.basic-padding{
  padding : 20px;
}

.flex-box {
  display: flex;
}

.card-view {
    margin-top : 50px;
    margin-left: 20px;
    padding: 20px 30px;
    padding-right: 0;
    background: white;
    border: 1px solid lightgray;
    border-left: 15px solid #3F51B5;
    max-width: 850px;
     -webkit-box-shadow: 0 10px 6px -6px #777;
    -moz-box-shadow: 0 10px 6px -6px #777;
    box-shadow: 0 10px 6px -6px #777;
}

.demo-thumbnail {
  display: inline-block;
  text-align: center;
}

.demo-thumbnail img{
  border: 1px solid gray;
  -webkit-box-shadow: 0 10px 6px -6px #777;
  -moz-box-shadow: 0 10px 6px -6px #777;
  box-shadow: 0 10px 6px -6px #777;
}
