body {
  font-family: Roboto, sans-serif;
  font-weight: 300;
  margin: 0;
  padding: 0;
  word-break: break-word;
}
a {
  color: #15c;
  text-decoration: none;
  line-height: 1.3em;
}
a:hover {
  text-decoration: underline;
}
a#viewSource {
  border-top: 1px solid #999;
  display: block;
  margin-top: 1.3em;
  padding-top: 1em;
}
div#links a {
  display: block;
  margin-bottom: 1.5em;
}
div#links a.inline_link {
  display: inline-block;
  margin-bottom: 0;
  color: #b35;
}
div#top_status {
  font-size: 13px;
  border-top: 1px #182 solid;
  border-bottom: 1px #182 solid;
  text-align: center;
  color: #FFF;
  background: #293;
  top: 0px;
  width: 100%;
  position: fixed;
}
div#container {
  margin: 0 auto;
  max-width: 40em;
}
h1 {
  border-bottom: 1px solid #ccc;
  font-weight: 500;
  padding-bottom: 0.3em;
}
h2 {
  color: #679;
  border-top: 1px solid #eee;
  font-weight: 400;
  padding-top: 1em;
  margin-top: 1.2em;
}
p {
  color: #444;
  font-weight: 300;
  line-height: 1.6em;
}