/*
 *
 * Extra styles for the the CSS Device Adaptation spec.
 *
 */

code {
  font-size: inherit;
}

/* Style for algorithm pseudo code. */

.algorithm {
  font-family: serif;
  font-size: 1em;
  white-space: pre;
  margin: 1em;
  padding: 1em;
  background-color: #f4f4f4;
}

.algorithm .method {
  counter-reset: statement;
  line-height: 1.5em;
}

.method-name {
  font-variant: small-caps;
}

.algorithm .statement {
  counter-increment: statement;
}

.algorithm .statement:before {
  content: counter(statement) "   ";
  display: inline-block;
  width: 2em;
}

.algorithm .keyword {
  font-weight: bold;
}

.variable, .algorithm .operator, blockquote {
  font-style: italic;
}

ol { counter-reset: ol-counter; }
#ol2 { counter-reset: ol-counter 1; }
#ol4 { counter-reset: ol-counter 3; }
#ol5 { counter-reset: ol-counter 4; }
#ol6 { counter-reset: ol-counter 5; }
#ol9 { counter-reset: ol-counter 8; }
#ol10 { counter-reset: ol-counter 9; }

ol li {
  list-style-type: none;
  counter-increment: ol-counter 1;
}

ol li:before {
  content: counter(ol-counter) ". ";
}
