# Apache - directory config file

Options +Indexes

<Files ~ '*.src'>
ForceType 'text/html'
</Files>

Redirect gone changes-diff.html
Redirect gone grammar-diff.html
Redirect gone sample-diff.html
Redirect gone ui-diff.html
Redirect gone colors-diff.html
Redirect gone selector-diff.html
Redirect gone visudet-diff.html
Redirect gone about-diff.html
Redirect gone conform-diff.html
Redirect gone intro-diff.html
Redirect gone visufx-diff.html
Redirect gone aural-diff.html
Redirect gone cover-diff.html
Redirect gone media-diff.html
Redirect gone syndata-diff.html
Redirect gone visuren-diff.html
Redirect gone box-diff.html
Redirect gone fonts-diff.html
Redirect gone page-diff.html
Redirect gone tables-diff.html
Redirect gone cascade-diff.html
Redirect gone generate-diff.html
Redirect gone refs-diff.html
Redirect gone text-diff.html
