# Apache - directory config file

Options +Indexes
IndexOptions +DescriptionWidth=*

<Files ~ '.*.src'>
ForceType 'text/html'
</Files>

Redirect gone /Style/Group/css2-src/changes-diff.html
Redirect gone /Style/Group/css2-src/grammar-diff.html
Redirect gone /Style/Group/css2-src/sample-diff.html
Redirect gone /Style/Group/css2-src/ui-diff.html
Redirect gone /Style/Group/css2-src/colors-diff.html
Redirect gone /Style/Group/css2-src/selector-diff.html
Redirect gone /Style/Group/css2-src/visudet-diff.html
Redirect gone /Style/Group/css2-src/about-diff.html
Redirect gone /Style/Group/css2-src/conform-diff.html
Redirect gone /Style/Group/css2-src/intro-diff.html
Redirect gone /Style/Group/css2-src/visufx-diff.html
Redirect gone /Style/Group/css2-src/aural-diff.html
Redirect gone /Style/Group/css2-src/cover-diff.html
Redirect gone /Style/Group/css2-src/media-diff.html
Redirect gone /Style/Group/css2-src/syndata-diff.html
Redirect gone /Style/Group/css2-src/visuren-diff.html
Redirect gone /Style/Group/css2-src/box-diff.html
Redirect gone /Style/Group/css2-src/fonts-diff.html
Redirect gone /Style/Group/css2-src/page-diff.html
Redirect gone /Style/Group/css2-src/tables-diff.html
Redirect gone /Style/Group/css2-src/cascade-diff.html
Redirect gone /Style/Group/css2-src/generate-diff.html
Redirect gone /Style/Group/css2-src/refs-diff.html
Redirect gone /Style/Group/css2-src/text-diff.html
