RewriteEngine on
RedirectMatch permanent "^(.*)/(about.html|aural.html|box.html|cascade.html|changes.html|colors.html|conform.html|cover.html|fonts.html|generate.html|grammar.html|indexlist.html|intro.html|leftblank.html|media.html|page.html|propidx.html|refs.html|sample.html|selector.html|syndata.html|tables.html|text.html|ui.html|visudet.html|visufx.html|visuren.html|zindex.html)(\?[^?#]*)?$" "$1$3"
