@font-face {
  font-family: 'Monaspace';
  src: 
    url('/MonaspaceKrypton-SyntaxHighlighter-Regular.woff2') 
    format('woff2')
  ;
}
code {
  font-family: "Monaspace", monospace;
  font-feature-settings: "colr", "calt";
}